.mat-dialog-title {
  margin-top: 25px;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}

.mat-dialog-content {
  text-align: center;
}

.mat-dialog-content .input {
  margin-top: 35px;
  width: 85%;
}

.mat-dialog-content .button-container button {
  margin-top: 50px;
  margin-bottom: 5px;
  margin-right: 15px;
  font-size: 18px;
}

mat-error {
  font-size: 10px;
}
