<h1 class="mat-dialog-title">{{ "account.change.password" | translate }}</h1>
<mat-divider></mat-divider>
<div class="mat-dialog-content">
  <form class="form-container" [formGroup]="changePasswordForm">
    <div class="form">

      <div class="password-container">
        <mat-form-field hintLabel="{{'authForm.password.tip' | translate: {passwordMaxCharacters: passwordMaxLength} }}"
                        appearance="fill" class="input">
          <mat-label>{{ "account.change.password.current" | translate}}</mat-label>

          <input matInput [type]="hide ? 'password' : 'text'" #currentPassword type="password"
            formControlName="currentPassword" minlength="{{passwordMinLength}}" maxlength="{{passwordMaxLength}}" required/>

          <mat-hint align="end">{{ currentPassword.value.length }}/{{passwordMaxLength}}</mat-hint>
          <mat-error *ngIf="changePasswordForm.get('currentPassword')?.hasError('required')">
            {{ "field.required" | translate }}
          </mat-error>
          <mat-error *ngIf="changePasswordForm.get('currentPassword')?.hasError('matching')">
            {{ "account.change.password.validity.matching" | translate }}
          </mat-error>
          <mat-error *ngIf="changePasswordForm.get('currentPassword')?.hasError('pattern')">
            {{ "account.change.password.validity.patternMismatch" | translate }}
          </mat-error>
          <mat-error *ngIf="changePasswordForm.get('currentPassword')?.hasError('minlength')">
            {{ "account.change.password.validity.tooShort" | translate }}
          </mat-error>

          <button mat-icon-button matSuffix type="button" (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? "visibility_off" : "visibility"}}</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="password-container">
        <mat-form-field hintLabel="{{'authForm.password.tip' | translate: {passwordMaxCharacters: passwordMaxLength} }}"
                        appearance="fill" class="input">
          <mat-label>{{ "account.change.password.new" | translate }}</mat-label>

          <input matInput [type]="hide ? 'password' : 'text'" #newPassword type="password"
            formControlName="newPassword" minlength="{{passwordMinLength}}" maxlength="{{passwordMaxLength}}" required/>

          <mat-hint align="end">{{ newPassword.value.length }}/32</mat-hint>
          <mat-error *ngIf="changePasswordForm.get('newPassword')?.hasError('required')">
            {{ "field.required" | translate }}
          </mat-error>
          <mat-error *ngIf="changePasswordForm.get('newPassword')?.hasError('matching')">
            {{ "account.change.password.validity.matching" | translate }}
          </mat-error>
          <mat-error *ngIf="changePasswordForm.get('newPassword')?.hasError('pattern')">
            {{ "account.change.password.validity.patternMismatch" | translate }}
          </mat-error>
          <mat-error *ngIf="changePasswordForm.get('newPassword')?.hasError('minlength')">
            {{ "account.change.password.validity.tooShort" | translate }}
          </mat-error>

          <button mat-icon-button matSuffix type="button" (click)="hide = !hide"
            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? "visibility_off" : "visibility"}}</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="password-container">
        <mat-form-field hintLabel="{{'authForm.password.tip' | translate: {passwordMaxCharacters: passwordMaxLength} }}"
                        appearance="fill" class="input">
          <mat-label>{{ "account.change.password.new.repeat" | translate }}</mat-label>

          <input matInput [type]="hide ? 'password' : 'text'" #confirmPassword
            formControlName="confirmPassword" minlength="{{passwordMinLength}}" maxlength="{{passwordMaxLength}}" required/>

          <mat-hint align="end">{{ confirmPassword.value.length }}/32</mat-hint>
          <mat-error *ngIf="changePasswordForm.get('confirmPassword')?.hasError('required')">
            {{ "field.required" | translate }}
          </mat-error>
          <mat-error *ngIf="changePasswordForm.get('confirmPassword')?.hasError('notmatching')">
            {{ "account.change.password.validity.notmatching" | translate }}
          </mat-error>

          <button mat-icon-button matSuffix type="button" (click)="hide = !hide"
            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? "visibility_off" : "visibility"}}</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="button-container">
        <button mat-button type="button" (click)="onBackClicked()">
          {{ "back" | translate }}
        </button>
        <button  mat-button type="submit" (click)="onPasswordChangeClicked()">
          {{ "confirm" | translate }}
        </button>
      </div>
    </div>
  </form>
</div>

