.root {
    -fx-font-family: Chilanka;
}

#nav_bar {
    -fx-background-color: #000;
    -fx-min-width: 300;
    -fx-max-width: 300;
    -fx-alignment: TOP_CENTER;
    -fx-spacing: 20;
}

.nav_button {
    -fx-background-color: #000;
    -fx-min-width: 300;
    -fx-padding: 10 10 10 50;

    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-text-fill: #FFF;
}

#nav_avatar_label {
    -fx-padding: 0 0 30 0;
    -fx-text-fill: #FFF;
    -fx-font-size: 35;
    -fx-font-weight: bold;
}

.nav_button_text {
    -fx-fill: #FFF;
}

.nav_button:hover {
    -fx-background-color: #333;
}

.nav_button_icon {
    -fx-fill: #FFF;
}