.upper_container {
    -fx-spacing: 25;
    -fx-alignment: TOP_CENTER;
}

.data_container {
    -fx-spacing: 20;
    -fx-padding: 20;
    -fx-alignment: TOP_CENTER;
    -fx-background-color: #FFF;
    -fx-border-color: #000;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
}

.container_title {
    -fx-font-weight: bold;
    -fx-font-size: 28;
}

.container_label {
    -fx-font-weight: bold;
    -fx-font-size: 17;
}

.container_text {
    -fx-font-size: 15;
}